* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  #side-nav {
    position: fixed;
    background-color: #1d2529;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    color:#ffffff;
  }
  
  #rest-of-page {
    margin-left: 16.667%; /* Width of the sidebar (2/12 columns in Bootstrap grid) */
    height:100vh;
}
  
  #whole-page {
    background-color: #1d2529;
    height:100vh
  }

#logo-div {
    width: 90%;
    text-align: left;
    height:10vh;
    padding: 1.5em 0em;
    border-bottom: solid 1px #7c8488;
}

#logo-text {
    color: #7c8488;
    font-size: larger;
}

#menu-items {
    /* padding: 2em 0em; */
    height:45vh;
    border-bottom: solid 1px #7c8488;
}

#side-nav ul {
    list-style-type: none;
}

#menu-items>ul>li {
    margin: 2.5em 0em;
}

#side-nav a {

    color: #7c8488;

}

#side-nav a:hover {
    color: #d9ef4d;
    text-decoration: none;
}

#side-nav a:active {
    color: #d9ef4d;
    text-decoration: none;
}

#middle-div {
    background-color: #ffffff;
    color: #3f4444;
    padding: 1em 1em;

}

#top-middle>h5>span {
    color: #b0c2c1
}

.score-divs {
    border: solid 1px #b0c2c1;
    color: #83941e;
}

#side-bottom-div {
    height: 40vh;
}


#score{
    color:#0d1913
}
.score-divs:hover{
    background-color: #dbf04e;
}
.score-divs>div>span {
    font-size: .6rem
}

.bottom-score {
    color: #b0c2c1;
    width:100%;
}
#scorername{
  color:#b0c2c1;  
}
#icon{
    color:#b0c2c1;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid #b0c2c1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-opportunities a{
    color: #3f4444;
}
.opportunities-divs{
    border: solid 1px #b0c2c1;
    color:#b0c2c1;
    font-size:.8em;
}
.opportunities-divs:hover{
    background-color: #b0c2c1;
    color:#3f4444;
   
}
.opportunities-divs:hover p{
    background-color: #3f4444;
    color:#b0c2c1;
}
.opportunities-divs span{
    color:#3f4444;
}
.opportunities-divs p{
    background-color:#b0c2c1 ;
    width:9em;
    font-size:.8em;
    color:#3f4444;

}
.opportunities-divs h2{
    color: #3f4444;
}
#invoices-div a{
    color: #3f4444;
}
.invoice{
    border: 1px solid #b0c2c1;
    /* color:#3f4444; */
}
.invoice-owner>a{
    color:#b0c2c1 !important; 
    font-size: .7em;
}

